#landing_background {
    position    : absolute;
    top         : 0px;
    left        : 0px;
    overflow    : hidden;
    width       : 100%;
    height      : 100%;
    font-weight : bold;
    font-size   : 30px;
    margin-top  : 52px;
    /*opacity     :.7;*/
}

#landing_background img {
    position : absolute;
    width    : 100%;
    top      : 0px;
    z-index  : -1;
    opacity  : .7;
}

.landing_jumbotron {
    background-color: transparent;
    color: aliceblue;
    position: absolute;
    margin-top: -550px;
    margin-left: 100px;
    text-align: center;
    background-repeat: no-repeat;
}