<%inherit file="base.htm" />

<%block name="content">
 <head>
        <title>Area Details</title>
    </head>
    <a href="/homepage/event_detail/${ event.id }"><button class="right btn btn-primary">Back To Event</button></a>
    <div class="prodspec">
        <div class="thumbnail">
            
                <img src="${ area.photo.image }" alt="${ area.name }">
            
            <div class="caption">
                <h3>${ area.name }</h3>
                <h4><b>Description:</b> ${ area.description }</h4>
                <h4><b>Place Number:</b> ${ area.place_number }</h4>
                <h4><b>Coordinator:</b> ${ area.coordinator.first_name + " " + area.coordinator.last_name }</h4>
                <h4><b>Supervisor:</b> ${ area.supervisor.first_name + " " + area.supervisor.last_name }</h4>
            </div>
        </div>
    </div>
        <hr color="#c7c34c" size="2" width="50%">
        <h1 class="center">Artisan Products</h1><br>
          <table id="mto_table" class="table table-bordered table-hover">
              <tr>
                <th> Product Name </th>
                <th> Image </th>
                <th> Vendor Name </th>
                <th> Phone Number </th>
                <th> Email </th>
              </tr>
          %for mto in mto_products:
            <tr>
              <td>${ mto.name } </td>
              <td><img src="${ mto.photo.image }"/></td>
              <td>${ mto.vendor.first_name + " " + mto.vendor.last_name } </td>
              <td>${ mto.vendor.phone } </td>
              <td>${ mto.vendor.email } </td>
            </tr>
          %endfor
 </%block>
