<%inherit file="base.htm" />

<%block name="content">

<head>
    <title>Checkout</title>
</head>

<div class="content">
    <h3>Checkout</h3>
    <form method="POST">
        <div class="page-header">
            <h1> Shipping Address </h1>
        </div>
        ${ error }
        %for field in form:
            <div class="form-group">
                <label for=${field.name}>${field.name}</label>
                ${field}
            </div>
        %endfor
        <button data-addr= address_id id="checkout_next_btn" class="btn btn-warning">Next</button>
    </form>
</div>

%if request.user.is_authenticated():
    <p></p>
%else:
    <div class="modal fade" id="checkout_login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Must Login to Checkout</h4>
                </div>
                <div class="modal-body">
                </div>
                ## <div class="modal-footer">
                      ##   <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                      ##   ## <button type="button" class="btn btn-primary">OK</button>
                      ## </div>
                </div>
        </div>
    </div>
</div><!-- End Modal -->
%endif
</%block>
