<%inherit file="base.htm" />

<html>
<body>

<%block name="content">

        <head>
        <title>Events</title>
    </head>
    ##    this is the div with the search bar
    
<div class="tableContain">
    <h1>Events</h1>

    <div class="sweetPics">
        %for event in events:
            <div>
                <a href="/homepage/event_detail/${ event.id }">
                    <img src="${ event.photo.image }" alt="${ event.name }">
                </a>
               <h2> ${ event.name } </h2>
            </div>
        %endfor
    </div>
    <div class="row">
        %for event in events:
            <div class="col-md-4">
                <div class="thumbnail">
                     <a href="/homepage/event_detail/${ event.id }">
                          <img src="${ event.photo.image }"/>
                        </a>

                    <div class="caption">
                       <h3> ${ event.name }</h3>

                        <p><b>Dates:</b> ${ event.start_date } - ${ event.end_date }</p>
                        <p class="marginBottom"><b>Venue:</b> ${ event.venue_name }</p>
                        <p><a href="/homepage/event_detail/${ event.id }" class="btn btn-primary" role="button">Event Details</a></p>
                    </div>
                </div>
            </div>
         %endfor
    </div>
 </%block>
</body>
</html>
