<%inherit file="base.htm" />

<%block name="content">

    <head>
        <title>Homepage</title>
    </head>

    <div id="landing_background">
        <img src="/static/homepage/media/flag1.jpg" alt="" >
    </div>

##    <div class="jumbotron landing_jumbotron">
##            <h1>Welcome to <br>
##                The Colonial Heritage Foundation</h1>
##
##            <p></p>
##
##            <p><a class="btn btn-primary btn-lg" href="/homepage/login" role="button">Login</a></p>
##    </div>
</%block>