
##<%inherit file="/homepage/templates/base_ajax.htm" />
##
##<%block name="content">
##
##    <form id="loginform" method="POST" action="/homepage/login">
##        <table>
##            ${form}
##        </table>
##        <input type = "submit"/>
##    </form>
##
##</%block>

<%inherit file="base.htm" />

<%block name="content">

    <head>
        <title>Login</title>
    </head>

    <div id="loginform_conatiner">

        <div class="page-header">
            <h1> Sign In <small>New Customer? Click <a href="/#/">here.</a></small></h1>
        </div>

        <form id="loginform" method="POST" action="/account/login.logincheckoutpttwo/">
            <table>
                ${ form }
            </table>
            <br>
            <button id="LogInID" type="submit" class="btn btn-default">Submit</button>
        </form>

    </div>
</%block>
