<%inherit file="base.htm" />

<%block name="content">
    <head>
        <title>Edit Made-to-Order Product</title>
    </head>

    <div class="content">
        <form method="POST">
            <div class="page-header">
            <h1> Made-to-Order Edit Form <small></small></h1>
            </div>
            ${ error }
            %for field in form:
                <div class="form-group">
                    <label for=${field.name}>${field.name}</label>
                    ${field}
                </div>
            %endfor
            <button type="submit" class="btn btn-warning">Submit</button>
        </form>
    </div>
</%block>
