<%inherit file="base.htm" />

<%block name="content">
    <head>
        <title>Product Details</title>
    </head>
    <a href="/homepage/product"><button class="right btn btn-primary">Back To Products</button></a>
    <div class="prodspec">
        <div class="thumbnail">
            
                <img src="${ product.product_specification.photo.image }" alt="${ product.product_specification.name }">
            
            <div class="caption">
                <h3>${ product.product_specification.name } <br> <small> Price: ${ product.product_specification.price } </small></h3>
                <h4> ${ product.product_specification.description } </h4> 
                <div class="center">
                    <form class="inline">
                        <label for="quantity">Qty: </label>
                        <input min="1" type="number" id="quantity" name="quantity" value="1" />
                    </form>
                    <button data-pid="${ product.id }" class="add_button btn btn-warning">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
 </%block>

