<%inherit file="base.htm" />

<%block name="content">
    <div class="content">
        <form method="POST">
            <div class="page-header">
            <h1> Rental Item Edit Form <small></small></h1>
            </div>
                <div class="form-group">
##                    <label for=${field.name}>${field.name}</label>
                    ${form}
                </div>
##            %endfor
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>

</%block>
