<%inherit file="base.htm" />

<%block name="content">
    <head>
        <title>Rentals</title>
    </head>
    <button id="rent_shop_cart_btn" class="right btn">Shopping Cart</button>
<div class="tableContain">
    <h1>Rentals</h1>

    <div class="sweetPics">
        %for rental in rentals:
            <div>
                <a href="/rental_detail/${ rental.id }">
                    <img src="${ rental.product_specification.photo.image }" alt="${ rental.product_specification.name }">
                </a>
               <h2> ${ rental.product_specification.name } </h2>
            </div>
        %endfor
    </div>
    <div class="row">
        %for rental in rentals:
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="/rental_detail/${ rental.id }">
                        <img src="${ rental.product_specification.photo.image }" alt="${ rental.product_specification.name }">
                    </a>
                    <div class="caption">
                        <h3>${ rental.product_specification.name } <br> <small> Price Per Day: ${ rental.price_per_day } </small></h3>
                        <p>
                            <button data-pid="${ rental.id }" class="add_button btn btn-warning">Rent Now</button>
                            <a href="/rental_detail/${ rental.id }" class="btn btn-primary" role="button">Rental Details</a>
                        </p>
                    </div>
                </div>
            </div>
         %endfor
    </div>
</div>
</%block>

