<%inherit file="base.htm" />

<%block name="content">
     <head>
        <title>Rental Details</title>
    </head>
    <a href="/homepage/rental"><button class="right btn btn-primary">Back To Rentals</button></a>
    <div class="prodspec">
        <div class="thumbnail">
            
                <img src="${ rental.product_specification.photo.image }" alt="${ rental.product_specification.name }">
            
            <div class="caption">
                <h3>${ rental.product_specification.name } <br> <small> Price Per Day: ${ rental.product_specification.price } </small></h3>
                <h4> ${ rental.product_specification.description } </h4> 
                <div class="center">
                    <form class="inline">
                        <label for="quantity">Duration (Days): </label>
                        <input min="1" type="number" id="duration" name="quantity" value="1" />
                    </form>
                    <button data-pid="${ rental.id }" class="add_button btn btn-warning">Rent Now</button>
                </div>
            </div>
        </div>
    </div>
 </%block>
